.yesno {
        height: 500px;
    position:relative;
}

.yesno ul li {
    list-style:none;
    float: left;
    text-align: center;
    display: block;
    color: #FFF;
    background-color: #066;
    line-height: 300px;
    font-size: 120%;
}
.positionFit {
    position:absolute;
    left: 0px;
    top: 20px;
}
